/* UNIVERSAL */

body {
    font-family: 'Castoro', serif;
    width: 100%;
    height: auto;
    background-color: #F1E9DB;
}

.grid {
    display: grid;
    width: 100%;
    height: 70rem;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

/* HEADER */

.header {
    grid-area: 1 / 1 /  2 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #507DBC;
    color: white;
}

/* NAVIGATION */

.nav {
    grid-area: 2 / 1 / span 1/ span 12;
    background-color: #7D8570;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav ul {
    display: contents;
}

.nav li {
    display: inline-block;
    margin: 1rem 3rem;
}

a {
    cursor: pointer;
}

/* NEWS */

.news {
    grid-area: 3 / 2 / span 8 / span 2;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: #507dbc59;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

img {
    width: 10rem;
    height: 10rem;
    border-radius: 5%;
    object-fit: cover;
}

figcaption {
    text-align: center;
    line-height: 1.2rem;
    padding: 1rem 0;
}

.box2 img {
  object-position: top;
}


/* EVENTS */

.events {
    grid-area: 3 / 10 / 11 / 12 ;
}







.footer {
    grid-area: 12 / 1 / 13 / 13;
}









.presentation, .join, .footer {
    display: none; 
}