/* UNIVERSAL */

body {
    font-family: 'Castoro', serif;
    width: 100%;
    height: auto;
    background-color: #F1E9DB;
}

.grid {
    display: grid;
    width: 100%;
    height: 70rem;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

/* HEADER */

header {
    grid-area: 1 / 1 /  2 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #507DBC;
    color: white;
}

/* NAVIGATION */

nav {
    grid-area: 2 / 1 / span 1/ span 12;
    background-color: #7D8570;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    display: contents;
}

nav li {
    display: inline-block;
    margin: 1rem 3rem;
}

a {
    cursor: pointer;
}